body {
  text-align: center;
  font-family: helvetica;
}

p {
  list-style-type: none;
  font-size: 14px;
}

a {
  color: white;
  font-size: 18px;
}

.hero {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p .mid {
  font-size: 14px;
}

h4 {
  color: white;
  font-size: 23px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

.bottom {
  background-color: dimgray;
  text-align: left;

}
